body{
    background-image: url(water.jpg);
}
.kec{
    width: 1500px;
    height: 1500px;
    margin: 150px auto;
    background-color: darkgray;
}
.duja{
    width: 1300px;
    height: 1300px;
    margin: 50px auto;
    
    background-color: lightgray;
    border: 3px solid black;
}
p.tekst1{
    text-align: left;
}
img.slika{
    width: 400px;
    height: 400px;
    border: 2px solid white;
    float: left;
}